body {
    color:#707070;
    margin: 0;
}

h1 {
    color: #312614;
    font-size: 3rem;
    text-align: center;
}

h1 span {
    color: #b7832f;
}

p {
    margin-top: 0;
}

h2 {
    font-size: 1.5rem;
}

.container {
    width: 90%;
    max-width: 980px;
    margin: 0 auto;
}

img {
    max-width: 100%;
}

.columns {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 1em 0;
}

.dark {
    background-color: #312614;
    color: #fff;
    padding: 1em;
}

.col-1 {
    width: 20%;
}

.col-2 {
    width: 45%;
}

.col-3 {
    width: 70%;
}


